## Name: David Geng

# Market Basket Analysis: Unsupervised Learning

## Loading Library

In [1]:
# libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

## Loading and Processing data

In [2]:
# # import into colab
# from google.colab import files
# uploaded = files.upload()

In [3]:
# read the dataset
df = pd.read_csv('groceries.csv')

In [4]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [5]:
# df head
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [ ]:
# removing columns in the front
df = df.iloc[:, 7:]
df.head()

In [ ]:
df.info()

In [ ]:
# removing columns from the end
df = df.iloc[:, 0:11]
df.head()

In [ ]:
# transforming rows to binary
df[:] = np.where(df >= 1, 1, 0)
df.head()

## Association Analysis

In [ ]:
# create frequent itemsets
pd.options.display.max_rows = None
itemsets = apriori(df, min_support = 0.1, use_colnames= True)
itemsets

In [ ]:
# Extract Rules Based on Confidence
rules = association_rules(itemsets, metric= 'confidence', min_threshold= 0.5)
rules

In [ ]:
# sorting rules
rules.sort_values(by = ['lift'], ascending = False).head(10)

In [ ]:
# Extract Rules Based on Confidence
rules = association_rules(itemsets, metric= 'lift', min_threshold= 2)
rules

In [ ]:
# sorting rules
rules.sort_values(by = ['lift'], ascending = False).head(10)