## Name: David Geng

# Instruction to Pandas
## Important package for Data Munging Tasks
#### Two important data structure 
* Series: One dimensional array of indexed data
* DataFrame: Two dimensional array of index data

In [1]:
# import pandas
import pandas as pd
# import matplotlib for visualization
import matplotlib.pyplot as plt
# import seaborn for visualization
import seaborn as sns

## Series

In [2]:
# Creating a series: sequence of values
a= pd.Series([1,2,3,4,5,6,7,8,9,10])
print(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# access values
a.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [4]:
# access index
a.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
# extracting single elements
a[2]

3

In [6]:
#  getting 10th elements
a[9]

10

In [7]:
# slicing
a[0:3]

0    1
1    2
2    3
dtype: int64

In [8]:
# slicing
a[5:9]

5    6
6    7
7    8
8    9
dtype: int64

### Summary Functions

<!-- max -->

In [9]:
# max
a.max()

10

In [10]:
# min
a.min()

1

In [11]:
# describe
a.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [12]:
# sorting default ascending
a.sort_values()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
# sorting descending
a.sort_values(ascending = False)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [18]:
# sorting descending
b = a.sort_values(ascending = False)

In [16]:
a.sort_values(ascending = False, inplace = True)
print(a)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [19]:
print(b)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [20]:
# HW create a Series of age of your 10 friends
age = pd.Series([23,22,45,65,34,52,12,17,44,77])

In [24]:
# extract 6th element
age[5]

52

In [25]:
# Extract from 1st to 5th
age[0:5]

0    23
1    22
2    45
3    65
4    34
dtype: int64

In [26]:
# Use describe function to get teh summary starts of age
age.describe()

count    10.000000
mean     39.100000
std      21.429212
min      12.000000
25%      22.250000
50%      39.000000
75%      50.250000
max      77.000000
dtype: float64